:root {
  --blue: #0b8da8;
	--bg-light: #78939921;
}

body {
	font-family: sans-serif;
	// background: #0000000a;
}

.container {
	margin: 0 auto;
	width: max-content;
}

h2 {
	color: var(--blue);
}

table {
	border: 2px solid var(--blue);
	border-spacing: 0;
	padding: 50px;
	background: white;
}

tr {
	height: 29px;
}

td {
	min-width: 80px;
	padding: 2px 12px 2px 5px;
}

.th td {
	font-weight: bold;
	color: var(--blue);
	border-bottom: 2px solid var(--blue);
}

.space {
	height: 20px;
}

input {
	border: none;
	font-size: 1em;
	width: 100px;
	background: var(--bg-light);
	height: 25px;
	padding-left: 5px;
}

input:hover,
input:focus {
	background: #78939942;
}

.input {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	padding: 0;
}

